.form-gap {
  padding-top: 70px;
}

.resetContainer {
  max-width: 900px;
  background-color: whitesmoke;
  position: relative;
  margin: auto;
}

.resetform {
  position: absolute;
  top: 110px;
  left: 270px;
  width: 350px;
}

.buttonIcon {
  width: 45%;
  margin-left: 100px;
}

#email {
  margin-left: 10px;
}
@media screen and (max-width: 670px) {
  .resetContainer {
    margin: auto;
    width: auto;
    float: none;
    display: block;
  }

  .resetform {
    left: 80px;
    width: auto;
    margin: auto;
  }
  #register-form {
    width: auto;
    margin: auto;
  }
  .buttonIcon {
    width: 60%;
    margin-left: 70px;
  }
}
