.main-container {
  /*  background-image: url(./images/GUCbg.jpg) center center/cover no-repeat;*/
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.main-btns {
  margin-top: 32px;
}

.main-btns .btn {
  margin: 6px;
}

.fa-calendar-week {
  margin-left: 4px;
}
.btn-mobile {
  display: block;
  text-decoration: none;
}

.btn {
  width: 100%;
}
