* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
.ViewStaff {
  /*background-image: url('/images/img-2.jpg');*/

  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.ViewRequests {
  /*background-image: url('/images/img-2.jpg');*/

  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.ViewProfile {
  /*background-image: url('/images/img-2.jpg');*/

  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.ViewStaffDayOff {
  /*background-image: url('/images/img-2.jpg');*/

  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.ViewStaffpercourse {
  /*background-image: url('/images/img-2.jpg');*/

  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Notifications {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Allrequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Acceptedrequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}

.Rejectedrequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Pendingrequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}

.dfreq {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Leaverequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Replacementrequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Slotlinkingrequests {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
.Viewschedule {
  background-color: teal;
  color: #fff;
  font-size: 80px;
}
